@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato'), url('../../public/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato'), url('../../public/fonts/Lato-Bold.ttf') format('truetype');
}