@mixin text-xs-14 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
@mixin text-extra-xs-14 {
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
@mixin text-xs-16 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
@mixin text-extra-xs-16 {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}
@mixin text-xs {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
@mixin text-extra-xs {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
}
@mixin text-sm-20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
@mixin text-extra-sm-20 {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}
@mixin text-sm {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
@mixin text-extra-sm {
  font-size: 22px;
  font-weight: 900;
  line-height: 26px;
}
@mixin text-sm-24 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@mixin text-extra-sm-24 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
}
@mixin text-sm-26 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}
@mixin text-extra-sm-26 {
  font-size: 26px;
  font-weight: 900;
  line-height: 32px;
}
@mixin text-md {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
@mixin text-extra-md {
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
}
@mixin text-md-36 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}
@mixin text-extra-md-36 {
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
}
@mixin text-lg-40 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
@mixin text-extra-lg-40 {
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}
@mixin text-lg-48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
@mixin text-extra-lg-48 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
@mixin text-lg {
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}
@mixin text-extra-lg {
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}
@mixin text-lg-74 {
  font-size: 74px;
  font-weight: 700;
  line-height: 74px;
}
@mixin text-extra-lg-74 {
  font-size: 74px;
  font-weight: 900;
  line-height: 74px;
}