@import '../../../../styles/typography';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--black-color);

  &__title {
    margin-bottom: 19px;
    color: var(--light-green-color);
    @include text-extra-xs;
    line-height: 28px;
  }
}